body {
    background-color: #4b5056 ;
    text-align: center;
    overflow-x: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.form{
    margin: auto;
    background-color: transparent;
    box-shadow: 2px 2px 5px black;
    width:75%;
    height: 14cm;
    border-radius:1cm  ;
   

}
table {
    padding-top:1cm ;
    text-align: left;
}
td{
    padding: 0.2cm;  
}
input{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #616972;
    padding: 2mm;
    border-radius: 45px;
    border-color: #6d99ce;
    
}
textarea{
    font-size: 0.5cm;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #616972;
    border-radius: 1mm;
    border-color: #6d99ce;

}
#sub {
    border: none;
    width :6cm ; 
    background-color:#6d99ce ;
    box-shadow: 2px 2px 5px black;
    
}
#sub:hover {
    background-color: #8fb1eb;
    cursor: pointer;
}
#res {
    border: none;
    width: 4cm;
    box-shadow: 2px 2px 5px black;
}
#res:hover{
    background-color: #7e8a97;
}